<!DOCTYPE html>
<html lang="en">
<script src="../index.js" type="text/javascript"></script>
<div class="mb-3">
    <label class="form-label">City Name</label>
    <input type="text" class="form-control" id="inCityname">
    <div>
        <a type="submit" class="btn btn-primary" id="SearchButton">Search</a>
    </div>
    <tbody>
        {{resp.main.temp}}
    </tbody>
</div>
</html>